# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# Flutter/Dart
/build/
/.dart_tool/
/.flutter-plugins
/.flutter-plugins-dependencies
.packages
*.iml

# Android
/android/app/src/main/assets/flutter_assets/
/android/app/build/
/android/build/
/android/.gradle/
/android/app/build/outputs/
/android/app/build/generated/
/android/app/build/intermediates/
/android/app/build/reports/
/android/app/build/tmp/
/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
/android/key.properties

# iOS
/ios/Flutter/App.framework
/ios/Flutter/engine
/ios/Flutter/flutter_assets/
/ios/Flutter/Generated.xcconfig
/ios/Pods/
/ios/Runner/GeneratedPluginRegistrant.*
/ios/Runner.xcworkspace/
/ios/Runner.xcodeproj/project.xcworkspace/
/ios/Runner.xcodeproj/xcuserdata/
/ios/ServiceDefinitions.json
/ios/Flutter/Debug.xcconfig
/ios/Flutter/Release.xcconfig
/ios/build/
/ios/.symlinks/
/ios/Pods/Manifest.lock

# macOS
/macos/Flutter/ephemeral
/macos/Flutter/Generated/
/macos/Flutter/Products/
/macos/Flutter/GeneratedPluginRegistrant.swift
/macos/Pods/
/macos/.symlinks
/macos/build
/macos/Runner.xcworkspace/
/macos/Runner.xcodeproj/project.xcworkspace/
/macos/Runner.xcodeproj/xcuserdata/

# Web
/web/
/web/assets/
/web/canvaskit/
/web/main.dart.js
/web/main.dart.js.map
/web/assets/AssetManifest.json
/web/assets/FontManifest.json
/web/assets/NOTICES

# Linux
/linux/flutter/ephemeral
/linux/flutter/generated_plugin_registrant.cc
/linux/flutter/generated_plugin_registrant.h
/linux/flutter/generated_plugins.cmake

# Windows
/windows/flutter/ephemeral
/windows/flutter/generated_plugin_registrant.cc
/windows/flutter/generated_plugin_registrant.h
/windows/flutter/generated_plugins.cmake
